<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>job Scheduling</title>
    <script
      src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
      integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
      crossorigin="anonymous"
    ></script>
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./assets/css/style.css" />
  </head>
  <body>
    <div class="jobCalculator">
      <h1 class="text-center">Job Sequencing Problem</h1>
      <div></div>
      <div></div>
      <form name="">
        <div id="overlayLoader">
          <div class="loader"></div>
        </div>
        <div id="dispCalcConts">
          <div class="form-group group clearfix">
            <label for="nac">Number of Jobs</label>
            <input
              type="text"
              id="nac"
              class="form-control"
              onkeyup="checnum(this);tabls_creation();"
            />
          </div>
          <div class="form-group group clearfix">
            <label for="mac">Number of Machines</label>
            <input
              type="text"
              id="mac"
              class="form-control"
              onkeyup="checnum(this);tabls_creation();"
            />
          </div>
          <div class="group clearfix">
            <div id="mktbl" class="table"></div>
          </div>
          <div class="group clearfix text-center">
            <input
              type="button"
              value="Calculate"
              class="btn-success"
              onclick="sequencing_problem()"
            />
            <input
              type="reset"
              value="Reset"
              class="btn-warning"
              onclick="clear_all()"
            />
          </div>
          <div class="group clearfix">
            <div id="t" class="table"></div>
          </div>
        </div>
      </form>
    </div>
  </body>
  <script src="./assets/js/script.js"></script>
</html>
